mixin text(name, root)
    p #{name}
        input(type="text" name=name ng-model=root+name)

mixin youtube(name, root)
    p #{name} (youtube url)
        input(type="url" name=name ng-model=root+name)

mixin img(name, root)
    p IMG #{name}
        img(data-ng-src="data:image/png;base64,{{"+root+name+"}}" data-err-src="images/png/avatar.png")
        //TODO image type
        //TODO img error
        input(type="file" accept="image/*")

mixin array(name, value, root, level)
    - tag = "h"+ (level+1)
    if name == ''
        - root = root.slice(0,-1)
    #{tag} Array of data #{name}
    - val = value[0]
    //TODO do some checks
    if val instanceof Array
        - addValue = "[]"
    else if typeof (val) == 'object'
        - addValue = "{}"
    button(ng-click=root + name+".push("+addValue+")") Add element
    div("ng-repeat"='(key'+level+',value'+level+') in '+root + name)
        if val instanceof Array
            +array('', val, root+name+'[key'+level+'].', level+1) //TODO do a better name
        else if typeof (val) == 'object'
            +object('', val,root+name+'[key'+level+'].', level+1)
        button(ng-click=root + name+".remove(key"+level+")") Remove


mixin object(name, obj, root, level)
    - tag = "h"+ (level+1)
    if name != ''
        #{tag} #{name}
    each val, index in obj
        if val instanceof Array
            +array(index, val, root, level+1)
        else if typeof (val) == 'object'
            +object(index, val, root+index+'.', level+1)
        else if val == "text"
            +text(index, root)
        else if val == "youtube"
            +youtube(index, root)
        else if val == "img"
            +img(index, root)


+object('Main Data', structure, 'data.', 0)

script(type='text/javascript').
    Array.prototype.remove = function (from, to) {
        var rest = this.slice((to || from) + 1 || this.length);
        this.length = from < 0 ? this.length + from : from;
        return this.push.apply(this, rest);
    };